body{
    background-color: yellow;
}
.webring{
    position: fixed;
    top:1em;
    right:1em;
    background: white;
}
hr{
    width: 500px;
    margin: 0;
    text-align: left;
}
#button{
    position:fixed;
    bottom: 1em;
    right:1em;
    height:44px;
    width:44px;
    background-color: blue;
}

/* Comment */